
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/*lista de capitulos (S-U)*/
.link-capitulo{
	border: #000 1px solid;
	padding: 5px;
	border-radius: 5px;
	background-color: #fff;
	transition: 0.5s ease;
}

.link-capitulo:link{
	text-decoration: none;
}


.borrar:hover{
	color: red;
}

.actualizar:hover{
	color: green;
}

.temporada_title{
    background-color: dodgerblue;
    border-radius: 5px;
}

.temporada_title span>a.link-capitulo{
	border: 0;
	transition: 1s ease;
}

.temporada_title span>a.link-capitulo:hover{
	background-color: yellow;
}


.info-panel-series{
	padding: 5px;
	border-radius: 15px;
}

.info-serie{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	width: 100%;
	border-radius: 15px;
	border: #000 1px solid;
}

.sinopsis-serie{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	color: #fff;
	text-shadow: 2px 2px 0px #000;
}

.idioma{
	background-color: #ffd70063;
}

.estreno{
	background-color: #0000007a;
}

#back-img{
	background-size: cover;
	
	border-radius: 15px;
	min-height: 316px;
}

@media only screen and (min-width: 767px){
	#back-img{
		box-shadow: inset 0 0 250px #000;
	}

}


.img-serie{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px #fff solid;
}

.categoria{
	perspective: 5px;
	background-color: #13131357;
	padding: 2px 10px 2px 10px;
	border-radius: 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	color: #fff;
	transition: 0.6s ease;
}

.categoria:hover {
	text-decoration: none;
	color: #fff;
	background-color: #343a40;
}

.capitulos-list{
	border: 1px #000 solid;
	border-radius: 15px;
	transition: 0.6s ease;
	/*padding: 5px 10px;*/
}

.capitulos-list:hover {
	background-color: #343a40!important;
}

.capitulos-list a{
	transition: 0.5s ease;
}

.capitulos-list a:hover{
	color: #fff !important;
}

.capitulos-list a:visited{
	 background-color: gold !important;
	 color: #000;
}

.post{
	height: 300px;
	position: relative;
	transition: 0.7s ease;
}

.post:hover img{
	opacity: 0.6;
}

.content-img{
	background-color: #0006;
	border-radius: 15px;
	overflow: hidden;
}

.content-img{
	height: 90%;
}

.layout{
	background-color: #000;
}

.info{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 20px;
	text-align: center;
}

.post-img{
	width: 100%;
	height: 100%;
	max-height: 250px;
}

/*capitulo-player*/
.capitulo-navigation{
	transition: 0.6s ease;
}


.capitulo-navigation:hover{
	
}



/*banner series*/
.serie-item{
  width: 44%;
  height: 250px;
  display: inline-block;
  background-color: lightgrey;
  position: relative;
  margin: 0.3%;
  overflow: hidden;
  border-radius: 5px;
}

.serie-item a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.serie-item img{
  height: 100%;
  width: 100%;
}

.icon-serie-item{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer; 
  transition: 0.3s ease-in-out;
}

.icon-serie-item i{
  position: absolute;
  top: 50%;
  left: 50%;
  color: orange;
  transform: translate(-50%, 8em);
  transition: transform 0.5s ease-in-out;
}

.icon-serie-item p{
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  text-align: center;
  transform: translateY(30px) scale(0);
  text-transform: capitalize;
  transition: transform 0.5s ease-in-out;
}


.serie-item:hover>.icon-serie-item{
  background: linear-gradient(to bottom, #2125295c 0%, #00000082 100%);
}

.serie-item:hover>.icon-serie-item>i{
  transform: translate(-50%, -50%) scale(3.5);
}

.serie-item:hover>.icon-serie-item>p{
   transform: translateY(0) scale(1);
}

/*purebas*/
@media (min-width: 576px){
  .serie-item{
    width: 32.16%;
    height: 230px;
  }
}

@media (min-width: 768px){
   .serie-item{
      width: 23.92%;
   }
}

@media (min-width: 992px){
 .serie-item{
  width: 15.05%;
  height: 220px;
 }
}

/*menu*/
/*.burger*/
.burger{
  background-color: #000000c2;
}

.burger .btn-burger{
  position: absolute;
  z-index: 3;
  top: -5px;
  right: 0;
  background-color: #ffffff00;
  color: #fff;
  font-size: 35px;
  border: none;
  padding: 10px;
  transition: transform 0.3s cubic-bezier(0.82, 1.06, 0.32, 1.28);
}

.burger button#menu-btn{
  transform: scale(0);
}

.burger button#cerrar-btn{
  transform: scale(0);
}

.burger p a{
  text-align: left;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  font-size: 2.7rem;
  /*background-image: linear-gradient(to right, #fbeccb, #f7d389, #fca700);*/
  -webkit-background-clip: text;
  color: #fff;
}

.burger a:link{
  text-decoration: none;
  margin: 0;
}

/*menu*/
nav{
  padding: 0 10px;
  height: 50px;
  position: relative;
  transition: transform 0.5s ease-in-out; 
}

nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
  margin: 0px;
}

nav ul li{
  padding: 2px 9px;
  cursor: pointer;
  color: #eed3a7;
  font-size: 20px;
  border-radius: 15px;
  margin: 2px;
  background: #0009;
  transition: 0.5s ease-in-out;
}

nav ul li a:link{
  text-decoration: none;
}
nav ul li a{
  color: #fff;
}

nav ul li a:hover{
  color: #fff0d8;
}

li.drop{
  transition: 0.6s ease;
  position: relative;
}

li.drop i{
  font-size: 10px;
  margin-left: 5px; 
  transition: transform 0.1s ease-in-out;
}

li.drop:hover> i{
 transform: scale(1.1);
}


/*pantallas grandes*/
.overlay{
  position: absolute;
  background-color: #0008;
  border-radius: 15px;
  height: auto;
  width: max-content;
  margin-top: 1px;
  transform: scale(0);
  z-index: 2;
  transition: transform 0.3s ease;
}

.list-user{
  right: 0}

li.drop:hover > i + div.overlay{
  transform: scale(1);
}

.overlay ul.cat{
  display: block;
  column-count: 3;
  column-rule: dotted; 
}

.overlay ul{
  display: block;
  padding: 5px;
}

.overlay ul li{
  width: 100%;
  border-radius: 0px;
  display: block;
  text-align: center;
  background-color: #0000;
}

.overlay ul li a{
  display: block;
}

nav ul li:hover{
  color: #fff0d8;
}

/*buscador*/
.item-search{
  background-color: #0000;
}
.search-input{
    background-color: #fff7;
    border: none;
    padding: 2px;
    border-radius: 5px;
    transition: 0.3s ease;
}
.search-input:focus{
  outline: none;
  background-color: #fff;
}

/*busqueda vista*/
.busqueda{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #00000033;
    color: #000;
    padding: 5px;
}

/*pantallas pequeñas*/
@media (max-width: 768px){
  .burger{
    padding: 10px;
  }
  .burger button#menu-btn{
    display: block;
  }
  .burger p{
    font-size: 1.7rem;
  }
  nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: 100%;
    display: inline-block;
    opacity: 0;
    z-index: 2;
    background-color: #0008;
    width: 100%;
  }
  nav ul{
    display: block;
    position: relative;
    overflow: auto;
    top: 0;
  }
  nav ul li{
    height: 50px;
    width: max-content;
    margin-top: 5px;
    text-align: left;
    background-color: inherit;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border-right: none;
    /*border-radius: 15px;*/
    color: #d8c5a6;
    transition: 0.5s ease;
  }

  nav ul li a{
    color: #fff;
    display: block;
    text-decoration: none;
  }

  .show-menu{
   transform: translate(-50%, -50%) scale(1);
   border-radius: 0;
   opacity: 1;
  }
  .show-btn{
    transform:  scale(1) !important;
  }
  .overlay{
    background-color: inherit;
    height: 0;
    width: 100%;
    transform: scale(0);
    position: static;
    pointer-events: auto;
    border-radius: 5px;
    padding: 0 0 0 60px;
    transition: 0.5s ease;
  }
  .overlay ul li{
    color: #fff;
    display: none;
    width: 100%;
    border-radius: 0px;
    text-align: left;
    border-right: 5px solid transparent;
    transition: 0.5s ease;
    background-color: #0000
  }
  nav ul li:hover{
    color: #fff0d8;
    background-color: #0000;
  }

  nav ul li:hover > a{
      color: #fff0d8;
  }

  li.drop:hover > i + div.overlay{
    transform: scale(1);
    height: auto;
    margin-top: 10px;
  }

  li.drop:hover{
    height: auto;
  }


  li.drop:hover > i+ .overlay>ul>li{
    display: block;
  }

  .overlay li:hover{
  color: #fff;
  border-right: 5px solid #ffc107;
  text-shadow: 0px -1px 20px #685106;
  }

  .item-search{
    width: 100%;
    background-color: #0000;
  }

  .search-input{
    width: 100%;
  }
}

div.season-ct{
  padding-top:10px;
}

div.season-ct div.season-body{
  display: none;
}

div.season-ct div.season-header{
  border-radius: 15px;
}

div.season-ct div.season-header div.titulo-info{
  padding: 15px 10px;
  background-color: #3d3d3d;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.season-header div.titulo-info p{
  display: inline-block;
  margin: 0;
}
div.season-header div.titulo-info i{
  display: inline-block;
  margin-right: 20px;
}

div.season-ct ul{
  list-style: none;
  margin: none;
  margin-top: 5px;
}

div.season-ct ul li{
  padding: 10px 10px;
  margin-bottom: 1rem;
  background-color: #fff5;
  border-radius: 5px;
}

div.season-ct div.season-body ul li{
  transition: transform 0.2s ease-in-out;
  margin: 0;
  padding: 5px;
}

div.season-ct div.season-body ul li:hover{
  transform: scale(0.98);
}

.open{
  display: block !important;
}

/*barra*/
/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Estilo del pulgar (parte desplazable de la barra) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar */
  border-radius: 5px; /* Radio de los bordes del pulgar */
}

/* Estilo del pulgar al pasar el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color del pulgar al pasar el mouse sobre él */
}
/*barra fin*/


